<div class="container mt-5 pt-3">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Role</th>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile No.</th>
      </tr>
    </thead>
    <tbody *ngIf="usersList && usersList.length > 0">
      <tr *ngFor="let user of usersList">
        <td>{{user && user.role}}</td>
        <td>{{user && user.name}}</td>
        <td>{{user && user.email}}</td>
        <td>{{user && user.mobile}}</td>
      </tr>
    </tbody>
  </table>
</div>
